In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [6]:
#Import csv file from Part I of HW & Convert to Dataframe
weather_data_df = pd.read_csv("Weather Data")
weather_data_df.head()

,Unnamed: 0,City,Max Temp,Lat,Lng,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tiznit Province,289.98,29.58,-9.50,77,100,1.50,MA,1603401107
1,1,Cabo San Lucas,307.15,22.89,-109.91,59,5,5.10,MX,1603401063
2,2,Antofagasta,288.15,-23.65,-70.40,82,75,6.70,CL,1603401095
3,3,Tagāb,281.15,34.85,69.65,33,1,2.60,AF,1603401107
4,4,Mataura,288.71,-46.19,168.86,61,92,3.13,NZ,1603401107

In [7]:
# Store latitude and longitude in locations
locations = weather_data_df[["Lat", "Lng"]] 

# Fill NaN values and convert to float
rating = weather_data_df["Humidity"].astype(float)

In [8]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#narrow down cities to ideal weather conditions
wind_speed_df = weather_data_df.loc[weather_data_df["Wind Speed"] <=10]
wind_speed_df

cloudiness_df = wind_speed_df.loc[wind_speed_df["Cloudiness"] <1]
cloudiness_df

criteria_df = cloudiness_df.loc[cloudiness_df["Max Temp"] ]

,Unnamed: 0,City,Max Temp,Lat,Lng,Humidity,Cloudiness,Wind Speed,Country,Date
11,11,Punta Arenas,285.15,-53.15,-70.92,50,0,6.70,CL,1603400814
14,14,Pevek,271.65,69.70,170.31,96,0,8.01,RU,1603401106
15,15,Busselton,283.15,-33.65,115.33,66,0,4.57,AU,1603400865
21,21,Ures,309.82,29.43,-110.40,33,0,2.24,MX,1603401110
22,22,Noumea,299.82,-22.28,166.46,73,0,1.00,NC,1603401111
...,...,...,...,...,...,...,...,...,...,...
868,868,Faya,292.15,18.39,42.45,13,0,2.10,SA,1603401150
880,880,Sehithwa,300.82,-20.47,22.72,24,0,5.50,BW,1603401208
891,891,Haines Junction,268.94,60.75,-137.51,79,0,1.12,CA,1603401209
892,892,Cape Town,290.93,-33.93,18.42,93,0,7.20,ZA,1603400782
901,901,Busselton,283.15,-33.65,115.33,66,0,4.57,AU,1603400865